# coding=utf-8

token = "sample_token"


messages=dict(
welcome = u"""
سلام
به بات ایزی پلنر خوش اومدید
این بات بهتون کمک میکنه تا بتونین خیلی راحت برای دورهمی های دوستانه اتون برنامه ریزی کنید. 😌🌹
""")
