# coding=utf-8

token = "Your_Bot_TOKEN"

commands = [ '/start' , '/help' ]

messages=dict(
welcome = u"""
سلام
به بات ایزی پلنر خوش اومدید
این بات بهتون کمک میکنه تا بتونین خیلی راحت برای دورهمی های دوستانتون برنامه ریزی کنید. 😌🌹
""",
req_name = u"""
برای شروع کافیه عنوان برنامه ای که می خوای با رفقات بریزی رو بنویسی
خوب عنوانش چیه؟؟؟
""",
req_details = u"""
ایول !!!
حالا یه سری توضیحات بنویس بچه ها جزئیات قضیه رو بدونن
توضیحاتت چیه؟؟؟
""",
plan = u"""
سلام
دوستتون {}( {}@ ) می خواد یه برنامه بریزه با عنوان:
🔷🔷🔷🔷🔷🔷🔷
{}
🔷🔷🔷🔷🔷🔷🔷
یه سری توضیحاتم داره برنامش:
🔶🔶🔶🔶🔶🔶🔶
{}
🔶🔶🔶🔶🔶🔶🔶
اونایی که گفتن میان(👍):
{}
اونایی که نمیان(👎):
{}

""",
user = u"""{} {} ( @{} ) , """
)
